{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pix</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'user_interface/mainstyle.css' %}">
    <link rel="stylesheet" href="{% static 'user_interface/transaction.css' %}">
</head>
<body>
    <div class="content">
        <nav>
            <a href="{% url 'home' %}"><i class="bi bi-chevron-left"></i></a>
        </nav>
        <div>
            <h1>Qual é o valor da transferência?</h1>
            <p>Saldo disponível em conta R$ {{account.balance}}</p>
        </div>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form1">
                    <p>R$</p>
                   {{form1}} 
                </div>
                <div>
                    <h1>Para quem você quer transferir?</h1>
                    <div class="form2">
                        {{form2}}
                    </div>
                </div>
                <div class="button">
                    <div class="error-msg"><p>
                    {% for msg in messages %}
                        {{msg}}
                    {% endfor %}
                    </p></div>
                    <input type="submit">
                </div>
                
            </form>
        </div>
        <div>
        </div>  
    </div>
   
</body>
</html>